/* סקציית שירותים */
.services {
    padding: 2em;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.services-content {
    max-width: 1000px;
    margin: 0 auto;
}
.no-underline {
  text-decoration: none;
}
.services-content h2 {
    font-size: 2em;
    color: #1f628e;
    margin-bottom: 0.5em;
    font-family: 'Assistant', sans-serif;
}

.services-subtitle {
    font-size: 1.1em;
    color: #666;
    margin-bottom: 2em;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5em;
}

.service-box {
    padding: 1.5em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    color: white;
    text-decoration: none; /* הסרת קו תחתון */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.service-box:hover {
    transform: translateY(-5px);
}

/* צבעים אינדיבידואליים לכל קופסה */
.service-box:nth-child(1) {
    background-color: #293462;
}

.service-box:nth-child(2) {
    background-color: #80B8BD;
}

.service-box:nth-child(3) {
    background-color: #68A2B9;
}

.service-box:nth-child(4) {
    background-color: #6189B0;
}

.service-box:nth-child(5) {
    background-color: #696E9D;
}

.service-box:nth-child(6) {
    background-color: #735280;
}

.service-box i {
    font-size: 2em;
    color: white;
    margin-bottom: 0.5em;
}

.service-box h3 {
    font-size: 1.3em;
    margin-bottom: 0.5em;
    font-family: 'Assistant', sans-serif;
}

.service-box p {
    font-size: 1em;
    line-height: 1.6;
    color: white;
}

